.rooms-container {
  min-height: 80vh;
  margin-top: 40px;
}

.calendar {
  height: 90%;
}

.fc-prev-button, .fc-next-button, .fc-today-button, .fc-today-button:disabled {
  background-color: $lacquer-red !important;
  border-radius: 20px;
  color: white;
  border: $lacquer-red;
}

.fc-event-title-container {
  background-color: $lacquer-red;
}


