.contactus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.welcome-text {
  display: block;
  width: 80%;
  margin-top: 12px;
  margin-bottom: 0px;
}

.contact-form {
  display: block;
  width: 80%;
  height: 50vh;
  margin-top: 20px;
  background-color: #fff;
  padding: 22px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  border-radius: 50px;
}

.contact-form textarea {
  resize: vertical;
  max-width: 100%;
  max-height: 25vh;
  height: 100px;
}

.contactus .btn {
  background-color: #e28a96 !important;
  border: #d4213d;
  border-radius: 30px !important;
  padding: 0.6rem !important;
  white-space: nowrap !important;
  width: 100%;
}

.contactus .btn:hover {
  background-color: #d4213d !important;
  color: #ffffff !important;
}

@media (max-width: 767px) {
  .contact-form {
    display: block;
    width: 80%;
    height: 50vh;
    margin-top: 24px;
    background-color: #fff;
    padding: 22px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-form {
    display: block;
    width: 80%;
    height: 50vh;
    margin-top: 40px;
    background-color: #fff;
    padding: 22px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}
