.roomedit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin-top: 0;
}

.roomedit form {
  width: 70%;
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.roomedit input[type="text"],
.roomedit input[type="number"],
.roomedit textarea {
  border-radius: 50px;
}

.roomedit h5 {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.roomedit .btn {
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: bold;
}
