.map {
  display: block;
  height: 64vh;
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#address {
  color: #D4213D !important;
  display: block;
  font-size: 1.4rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}


