.map {
  display: block;
  height: 37vh;
  width: 90%;
  margin: auto;
  margin-top: calc(22px + 1.275rem + 0.3vw - 0.15rem - 32px);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#address {
  color: #D4213D !important;
  display: block;
  font-size: 1rem;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  #address {
    display: block;
    font-size: 0.85rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 991px) {
  .map {
    display: block;
    height: 50vh;
    width: 80%;
    margin: auto;
    margin-top: calc(22px + 1.275rem + 0.3vw - 0.15rem - 16px);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
}
