// Profile Modal
#profileModal {
  .modal-content {
    background: white;
    border-radius: 12px;
  }
  .form-control {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  .close {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .updateprofile {
  background-color: #E28A96 !important;
  border: #D4213D;
  color: #1E1E1E;
  border-radius: 30px !important;
  padding: 0.6rem !important;
  white-space: nowrap !important;
  width: 100%;
}

.updateprofile:hover {
  background-color: #D4213D !important;
  color: #FFFFFF !important;
}
}

// Billing History Modal
#billingModal {
  .modal-content {
    background: white;
    border-radius: 12px;
  }

  .close {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

// Admin Booking Modals
#deleteBookingModal,
#bookingModal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    background: white;
    margin: 100px auto;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 12px;
  }
}
