.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid rgba(212, 33, 61, 0.6);
  box-shadow: 0 2px 6px rgba(212, 33, 61, 0.25);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
