//Payment confirmation
.paymentcontainer {
    border-radius: 30px !important;
}

.paymentcard {
    border-radius: 30px 30px 0 0 !important;
    background-color: $lacquer-red !important;
}

  .paymentsubmit {
  background-color: $lacquer-red !important;
  border: $lacquer-red;
  color: #1E1E1E;
  border-radius: 30px !important;
  padding: 0.6rem !important;
  white-space: nowrap !important;
  width: 100%;
}

.paymentsubmit:hover {
  background-color: $lacquer-red !important;
  color: #FFFFFF !important;
}

//Payment successfull
.paymentsuccess {
    border-radius: 30px;
}
.paymentsuccess .card-header {
    background-color: $lacquer-red;
    border-radius: 30px 30px 0 0;
}

.bookingconfirmed {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 0.8rem;
  margin-bottom: 0.6rem;
}

.bookingconfirmed h4 {
  color: #1E1E1E !important;
}

.badge {
    background-color: $lacquer-red;
    border-radius: 30px;
}

.paymenttotal {
color: #1E1E1E !important;
}

//Back to home button
  .backtohome {
  background-color: $lacquer-red !important;
  border: $lacquer-red;
  color: #1E1E1E;
  border-radius: 30px !important;
  padding: 0.6rem !important;
  white-space: nowrap !important;
  width: 100%;
}

.backtohome:hover {
  background-color: $lacquer-red !important;
  color: #FFFFFF !important;
}

//Booking Summary
.bookingsummary {
  border-radius: 30px;
  padding: 0.8rem;
  margin-bottom: 0.6rem;
}


