.paymentcontainer {
    border-radius: 30px !important;
}

.paymentcard {
    border-radius: 30px 30px 0 0 !important;
    background-color: #D4213D !important;
}

  .paymentsubmit {
  background-color: #E28A96 !important;
  border: #D4213D;
  color: #1E1E1E;
  border-radius: 30px !important;
  padding: 0.6rem !important;
  white-space: nowrap !important;
  width: 100%;
}

.paymentsubmit:hover {
  background-color: #D4213D !important;
  color: #FFFFFF !important;
}
