.searchresult {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E28A96;
  border: 1px solid #E28A96;
  color: white !important;
  border-radius: 30px;
  margin: 0.8rem 0;
  padding: 0.6rem;
  width: 32.2%;
}

@media (max-width: 1062px) {
  .searchresult {
    font-size: 1.2rem;
}
}

@media (max-width: 1024px) {
  .searchresult {
    font-size: 1rem;
}
}

@media (max-width: 768px) {
  .searchresult {
    width: 48%;
}
}

@media (max-width: 425px) {
  .searchresult {
    width: 100%;
    font-size: 1rem;
}
}