// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/calendar";
@import "components/guests";
@import "pages/index";
@import "components/contactus";
@import "components/editroom";
@import "components/roomscalendar";
@import "components/admincalendar";
@import "components/roomsshow";
@import "components/paymentconfirmation";
@import "components/bookinginfomodal";
@import "components/deletebookingmodal";
@import "components/faqs";
@import "components/aboutus";
@import "components/rooms";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

.container {
  max-width: 1400px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  color: #1e1e1e;
}

.muted {
  color: #6b6b6b !important;
}

.muted:hover {
  color: #ffffff !important;
}

main {
  flex-grow: 1;
}

footer {
  height: 5rem;
  background-color: white;
  color: #1e1e1e;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid rgba(212, 33, 61, 0.6);
  box-shadow: 0 2px 6px rgba(212, 33, 61, 0.25);
}

h1 {
  color: #d4213d !important;
}

h2,
h3,
p {
  color: #1e1e1e !important;
}

h4,
h5,
h6 {
  color: darkgray !important;
}

a {
  color: #1e1e1e !important;
}

.navfoot a:hover {
  color: #1e1e1e !important;
}

.navfoot li {
  color: #1e1e1e !important;
}
