// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/calendar";
@import "components/guests";
@import "pages/index";
@import "components/contactus";
@import "components/editroom";
@import "components/roomscalendar";
@import "components/admincalendar";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: #1E1E1E;
}

.muted {
  color: #6B6B6B;;
}

main {
  flex-grow: 1;
}


footer {
  height: 5rem;
  background-color: white;
  color: #1E1E1E;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid rgba(212, 33, 61, 0.6);
  box-shadow: 0 2px 6px rgba(212, 33, 61, 0.25);
}

h1 {
  color: #D4213D !important;
}

h2, h3, p{
  color: #1E1E1E !important; 
}

h4, h5, h6 {
  color: darkgray !important;
}

button, .btn {
  background-color: #D4213D !important;
  color: #FFFFFF !important;
  border-radius: 20px !important;
  padding: 0.8rem !important;
  white-space: nowrap !important;
  width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent !important;
  color: inherit !important;
}

a {
  color: #1E1E1E !important;
}

a:hover {
  color:  #D4213D!important;
}



